* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**SETTINGS: applied to the entire webpage**/
body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}


/******************************************************************/
/**SECTION: Main Header (top of the webpage) -- Logo and Interpage Links**/
/*Header area color, display order, font, etc*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
/*Font size of Logo*/
header h1 {
    font-size: 48px;
}

/*Differentiating "seo" with slight off-color in logo*/
header h1 .seo {
    font-size: 48px;
    color: #d9dcd6;
}

/*Interpage links: color, font size, font, etc*/
nav {
    padding-top: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Interpage links: font size, font, border etc*/
nav ul li {    
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

/*Interpage links: color*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*********************************************************************/


/*********************************************************************/
/**SECTION: Main picture right under header -- size, link, etc**/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/**********************************************************************/


/**********************************************************************/
/**SECTION: Middle of the webpage -- Three Primary Headings**/
/*Three Primary Headings: General aspects of how the area is displayed*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Three Primary Headings: sets spacing, height, font, color, etc*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    /*Amt of white space between the three blocks*/
    margin-bottom: 48px;                
    /*Moves the content down from the top & total height of each block*/
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-radius: 10px;
}

/*Three Primary Headings: sets height of each picture*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
    border-radius: 10px;
}

/*Three Primary Headings: sets location of picture embedded in section*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Three Primary Headings: sets location of picture embedded in section*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Three Primary Headings: font size of heading & amt of empty space under heading*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
/**************************************************************************/


/***************************************************************************/
/**SECTION: Rightside of the webpage -- Three Secondary Headings**/
/*Three Secondary Headings: General aspects of how the area is displayed*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    border-radius: 10px;
}

/*Three Secondary Headings: Amt of space between "sections"*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Three Secondary Headings: Font size and alignment of "titles"*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Three Secondary Headings: Image related display settings*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/************************************************************************/


/************************************************************************/
/**SECTION: Bottom of the webpage -- Made By & Copyright**/
/*Space Before, Font, Text Alignment*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Text Size*/
footer h2 {
    font-size: 20px;
}
/*************************************************************************/